body {

    font-family: Arial;

    background: #f0f2f5;

    padding: 30px;

}

.container {

    background: white;

    padding: 20px;

    border-radius: 10px;

}

button {

    padding: 10px 20px;

    background: #1976d2;

    color: white;

    border: none;

    cursor: pointer;

    margin-left: 10px;

}

table {

    width: 100%;

    border-collapse: collapse;

    margin-top: 20px;

}

table th,
table td {

    border: 1px solid #ccc;

    padding: 10px;

}

table th {

    background: #1976d2;

    color: white;

}
